<div class="grafico-gasto-container movimientos-wrapper" [class.is-collapsed]="isCollapsed()">
  <div class="card-header-wrapper">
    <h3>Gastos mensuales</h3>
    <button
      type="button"
      class="btn-collapse-card"
      [class.collapsed]="isCollapsed()"
      (click)="toggleCollapse()"
      [title]="isCollapsed() ? 'Expandir Gastos Anuales' : 'Contraer Gastos Anuales'"
    >
      <svg class="icon-triangle" viewBox="0 0 24 24" width="20" height="20">
        <path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z" />
      </svg>
    </button>
  </div>

  <ng-container *ngIf="!isCollapsed()">
    <div
      class="spinner"
      *ngIf="isCargandoInput || isCargando()"
    >
      <mat-spinner diameter="40" strokeWidth="4" color="primary"></mat-spinner>
    </div>
    <div
      *ngIf="!isCargandoInput && !isCargando() && (!datosAnuales || datosAnuales.length === 0)"
      class="sin-datos-msg"
    >
      Sin datos disponibles para este año
    </div>
    <canvas
      *ngIf="!isCargandoInput && !isCargando() && datosAnuales && datosAnuales.length > 0"
      baseChart
      [data]="chartData"
      [options]="chartOptions"
      [type]="chartType"
    >
    </canvas>
  </ng-container>
</div>


