.grafico-gasto-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 24px;
  padding: 16px 20px;

  &.is-collapsed {
    margin-bottom: 12px;
    padding: 8px 12px;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
}




